@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-button {
    @apply cursor-pointer rounded px-3 py-1 text-xs font-semibold duration-150;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  background: black;
  border-radius: 50px;
}

.scrollbar::-webkit-scrollbar-thumb {
  width: 4px;
  background: white;
  border-radius: 50px;
}

.dragIcon,
.editIcon {
  opacity: 0;
}

.todoBox:hover .dragIcon,
.todoBox:hover .editIcon {
  opacity: 1;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.check {
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

.circle:hover .check {
  opacity: 1;
}
